* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background-color: #002244;
	color: #b0e0e6;
	font-size: 25px;
}


.note-collection {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	cursor: pointer;
}

.note {
	height: 300px;
	width: 300px;
	margin: 10px;
	border-radius: 4px;
	resize: none;
	outline: none;
	padding: 20px;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	border: none;
	color: rgb(210, 210, 210);
	background-color: #003153;
}

.plus-btn {
	height: 300px;
	width: 300px;
	margin: 10px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	order: 10;
	color: wheat;
}
