* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 40px;
	width: 80px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	background-color: #c6c6c6;
	position: relative;
}

.circle {
	height: 30px;
	width: 30px;
	margin: 0 5px;
	border-radius: 100%;
	background-color: #fff;
	position: absolute;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.darkMode {
	animation-name: darkMode;
}

.lightMode {
	animation-name: lightMode;
}

.bodyDark,
.circleDark {
	background-color: #000000;
}

.containerDark {
	background-color: #fff;
}

@keyframes darkMode {
	from {
		left: 0;
	}
	to {
		left: 40px;
	}
}

@keyframes lightMode {
	from {
		left: 40px;
	}
	to {
		left: 0;
	}
}
