* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: rgb(32, 1, 32);
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 40px;
}

li {
    font-size: 25px;
}

li:hover, h1:hover {
    cursor: pointer;
}

p {
    padding: 0 50px;
}

.active {
    background-color: #fff;
    color: rgb(32, 1, 32); ;
}