* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfdfdf;
}

#main-container {
    display: flex;
    margin: 6%;
    column-gap: 5%;
}


#right-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#left-section {
    height: 100%;
    width: 45%;
    border-radius: 5px;
}

button {
    width: 100%;
    border: none;
    color: rgb(7, 7, 124);
    padding: 6px 0;
}

#btn-container {
    display: flex;
    justify-content: space-around;
}

#right-section p {
    padding: 10px;
    font-size: 15px;
}

.hover-effect:hover {
    background-color: rgb(25, 25, 87);
    color: white;
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.active {
    background-color: #fff;
    color: rgb(7, 7, 124);
}

#step1 {
    border-radius: 5px 0 0 0;
}

#step3 {
    border-radius: 0 5px 0 0;
}
