* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* background-color: yellow; */
	padding: 20px;
	padding-bottom: 150px;
	height: fit-content;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	margin: 20px;
	font-size: 40px;
}

.card {
	height: 25vh;
	width: 22vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-color: white;
	border-radius: 10px;
	margin: auto;
	border: 1px solid black;
}

.all-cards {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	/* grid-template-rows: repeat(7, 16%);
	grid-template-columns: repeat(4, 25%); */
	width: 100vw;
	color: white;
}

@media (max-width: 450px) {
	h1 {
		text-align: center;
	}
	.card {
		width: 50vw;
	}
	.all-cards {
		display: flex;
		flex-direction: column;
	}
}
